.Ser-sect3-main {
  max-height: fit-content;
  background: #0c1315;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 10%;
  gap: 10px;
  box-sizing: border-box;
}

.Ser-sect3-img-side {
  width: 100%;
}
.Ser-sect3-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.Ser-sect3-contents {
  padding: 0px 0px 0px 8%;
  width: 65%;
  color: white;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.Ser-sect3-contents h3 {
  font-size: 32px;
  width: 85%;
}
.Ser-sect3-para {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 300;
  width: 70%;
  line-height: 1.5;
}
.Ser-sect3-content-head {
  font-size: 30px;
}
.Ser-sect3-btn {
  font-size: 16px;
  background-color: #ff5c1d;
  width: 120px;
  color: white;
  padding: 10px 8px;
  border-radius: 8px;
  margin-top: 10px;
}
.Ser-sect3-drivers {
  font-size: 18px;
  font-style: italic;
  color: #ff5c1d;
  margin-bottom: 10px;
}

@media screen and (min-width: 850px) and (max-width: 1150px) {
  .Ser-sect3-para {
    width: 95%;
    font-size: 16px;
  }
  .Ser-sect3-content-head {
    font-size: 26px;
  }
  .Ser-sect3-contents h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 849px) {
  .Ser-sect3-main {
    flex-direction: column;
    padding: 30px 10%;
  }
  .Ser-sect3-img {
    width: 100%;
  }
  .Ser-sect3-img-side {
    width: 80%;
  }
  .Ser-sect3-contents {
    width: 100%;
    padding: 0;
  }

  .Ser-sect3-para {
    width: 95%;
    font-size: 16px;
  }

  .Ser-sect3-content-head {
    font-size: 24px;
    margin-bottom: 0;
  }
  .Ser-sect3-contents h3 {
    font-size: 26px;
    width: 100%;
  }
}
