.nav-1 {
  display: flex;
  align-items: center;
  color: white;
  min-height: 60px;
  max-height: fit-content;
  background-color: #ff5c1d;
  gap: 70px;
}
.email {
  display: flex;
  margin-left: 10.5rem;
  align-items: center;
  gap: 12px;
}
.email i {
  margin: 5px 10px;
}
.Nav-email-Img1 {
  width: 22px;
  height: 15.48px;
}

.nav-2 i {
  margin: 4px 8px;
}
.email p {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.Nav-Phone {
  width: 18px;
  height: 18px;
}

.nav-2 p {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.nav-2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .email {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 649px) {
  .nav-1 {
    flex-direction: column;
    align-items: flex-start;

    padding: 10px 15%;
    gap: 10px;
  }
  .email {
    margin-left: 0rem;
  }
  .nav-2 i {
    margin: 4px 10px;
  }
}
