.Contact-section5 {
  height: 400px;
  max-height: 600px;
  background-image: url("/public/images/contact-location.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
